<div class="quick-stack">
  <div class="w-layout-cell">
    <div class="searchtype">
        <mat-radio-group class="searchtype-radio-group" [(ngModel)]="searchType">
          <mat-radio-button value="Authors" class="searchtype-radiobutton">Authors</mat-radio-button>
          <mat-radio-button value="Books" class="searchtype-radiobutton">Books</mat-radio-button>
          <mat-radio-button value="Series" class="searchtype-radiobutton">Series</mat-radio-button>
        </mat-radio-group>
        <mat-checkbox class="searchtype-onlyreaded" [(ngModel)]="searchOnlyWithNewBooks">Only with new books</mat-checkbox>
    </div>
    <div class="w-layout-hflex flex-block-3">
      <div class="searchform">
        <form [formGroup]="searchForm" class="searchform" (ngSubmit)="handleSearch()">
          <mat-form-field class="searchedit">
            <mat-label>Author name, book title or series name</mat-label>
            <input matInput formControlName="searchEdit" [(ngModel)]="searchText"/>
          </mat-form-field>
          <button mat-flat-button class="searchbutton" type="submit" [disabled]="!searchForm.valid">Search</button>
        </form>
      </div>
    </div>
    <div class="searchresult">
      <div class="searchresult-type">{{searchResultType}}</div>
      <div class="searchresult-values">
        <mat-action-list name="searchResult" class="searchresult-mat-action-list">  
          @for (sr of searchResult; track sr) {
            <button mat-list-item [value]="sr" (click)="searchResultSelected(sr)"
            [ngClass]="{ 'background-highlight': searchResultSelectedElement === sr }">{{sr}}</button>
          }  
        </mat-action-list>  
      </div>
    </div>
  </div>
  <div id="w-node-f0d3bee8-7a2a-0c6f-9f1a-9b5a63c03de5-dae3a695" class="w-layout-cell">
    <button mat-flat-button (click)="processingStatus()" class="processingstatus">Books processing status</button>
    <div class="w-layout-grid grid">
      <div class="treewrapper">
        <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor" class="bookstree">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node #matNode *matTreeNodeDef="let node" matTreeNodePadding
          (click)="treeLeafSelected(node)" [ngClass]="{ 'background-highlight': activeNode === node }">
            <button mat-icon-button></button> <span class="treeitem">{{node.name}}</span>
          </mat-tree-node> 
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
            [cdkTreeNodeTypeaheadLabel]="node.name">
            <button mat-icon-button matTreeNodeToggle>
              <mat-icon class="mat-icon-rtl-mirror">
              {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </mat-tree-node>
        </mat-tree>        
      </div>
      <div id="w-node-_78f80376-3535-68b5-ebaf-8cc5c1098306-dae3a695" class="bookwrapper">
        <bookinfo class="bookinfo"/>
      </div>
    </div>
  </div>
</div>
<router-outlet />