.bookinfo-serie {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.bookinfo-download {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.download-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .download-radiobutton {
    margin: 5px;
  }
  