@if (book) {
@for(author of book.authors; track author.authorId) {
		<authorlink [author]=author (switchToAuthorEvent)="switchToAuthor($event)"/><br/>
}
<br/>
<mat-card-content>
{{ book.title }} 
</mat-card-content>
@if (book.serieName && book.serieName.trim().length != 0) {
	<div class="bookinfo-serie">
		<button mat-button (click)="switchToSerie()" class="bookinfo-serie">({{ book.serieName }} - {{ book.numInSerie }})</button>
	</div>
} 
<p></p>
<mat-card-content>
<mat-radio-group class="download-radio-group" [(ngModel)]="downloadType">
	<mat-radio-button value="fb2" class="download-radiobutton">fb2</mat-radio-button>
	<mat-radio-button value="fb2.zip" class="download-radiobutton">fb2.zip</mat-radio-button>
</mat-radio-group>
</mat-card-content>
<br/>
<mat-card-content>
<button mat-flat-button (click)="downloadBook()" class="bookinfo-download">Download book</button>
</mat-card-content>
} @else {
Book still not set
}